<header>
    <nav class="container-nav" id="nav-div">

        <input type="checkbox" class="fake" />
        <div class="menu-line">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div id="logo" class="logo">
            <img src="../../../assets/imagens/logo.png" alt="logo" />
        </div>

        <div class="menu-escondido">
            <ul class="menu">
                <li class="lista__link">
                    <a href="#nav-div" title="Acessar Pagina Inicial">Início</a>
                </li>
                <li class="lista__link">
                    <a href="#contrast" title="Acessar Destaques na Pagina Inicial">Destaques</a>
                </li>
                <li class="lista__link">
                    <a routerLink="/products" title="Acessar os produtos por categorias">Categorias</a>
                </li>
                <li class="lista__link">
                    <a href="#newsletter" title="Acessar Newsletter na Pagina Inicial">Newsletter</a>
                </li>
                <li class="lista__link">
                    <a href="#destaques" title="Acessar Vídeos na Pagina Inicial">Vídeos</a>
                </li>
                <li class="lista__link">
                    <a href="#footer" title="Acessar Contato na Pagina Inicial">Contato</a>
                </li>
            </ul>

        </div>

        <div class="whatsapp">
            <a href="https://wa.me/14999999999" target="_blank" title="Acessar o whatsapp">
                <img src="../../../assets/imagens/whatsapp.png" alt="whatsapp" />
            </a>
        </div>

    </nav>

</header>