<section class="categories-container">

    <h2 class="texto">
        <div>NAVEGUE PELAS CATEGORIAS</div>
        <a href="#" class="link" title="Vá para a pagina de categorias"> NAVEGUE PELAS CATEGORIAS</a>
    </h2>
    <ul class="categories-list">
        <li><a href="#" title="Exibir Tratores">
                <img src="../../../assets/imagens/trator.png" alt="Trator">
                <p>Tratores</p>
            </a>
        </li>

        <li class="display-none"><a href="#" class="display-none" title="Exibir Implementos">
                <img src="../../../assets/imagens/implementos.png" alt="Implementos">
                <p>Implementos</p>
            </a>
        </li>

        <li class="display-none"><a href="#" class="display-none" title="Exibir Pneus">
                <img src="../../../assets/imagens/Pneus.png" alt="Pneus">
                <p>Pneus</p>
            </a>
        </li>

        <li class="display-none"><a href="#" class="display-none" title="Exibir Locação">
                <img src="../../../assets/imagens/Locacao.png" alt="Locação">
                <p>Locação</p>
            </a>
        </li>

        <li class="display-none"><a href="#" title="Exibir Peças">
                <img src="../../../assets/imagens/Pecas.png" alt="Peças">
                <p>Peças</p>
            </a>
        </li>

        <li class="display-none"><a href="#" title="Exibir Caminhões">
                <img src="../../../assets/imagens/Caminhoes.png" alt="Caminhões">
                <p>Caminhões</p>
            </a>
        </li>

    </ul>

</section>