<section class="contrast-container" id="contrast">

    <h1 class="texto">
        EM DESTAQUE
    </h1>
    <ul class="contrast-list">
        <li>
            <img src="../../../assets/imagens/destaque-1.png" alt="Trator">
            <h2>Trator New Holland </h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. </p>

        </li>

        <li>
            <img src="../../../assets/imagens/destaque-2.png" alt="Trator">
            <h2>Trator New Holland </h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. </p>

        </li>

        <li>
            <img src="../../../assets/imagens/destaque-3.png" alt="Trator">
            <h2>Trator New Holland</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. </p>

        </li>

    </ul>

</section>